*
    padding: 0
    margin: 0 
    box-sizing: border-box

#app 
    display: flex
    flex-direction: column


h1, h2, h3, h4, h5, h6 
    margin: 0
    padding: 0



//VARIABLES

//colors
$blue-grey: #102B3F
$dark-purple: #522E60
$light-grey: #EFEDEE

//font-weights
$light: 300
$normal: 400
$medium: 500
$bold: 700
$black: 900


// MIXINS


$phone-small: 330px
$phone-max-width: 440px
$phone-large: 414px
$tablet-width: 768px
$desktop-width: 992px
$edgesnap-width: 1100px
$nav-snap: 700px


=edgesnap
  @media (max-width: #{$edgesnap-width})
    @content

=navsnap
  @media (max-width: #{$nav-snap})
    @content

=tablet-landscape
  @media (max-width: #{$tablet-width})
    @content

=tablet-portrait
  @media (max-width: #{$tablet-width})
    @content

=phone-large
  @media (max-width: #{$phone-large})
    @content

=phone
  @media (max-width: unquote("#{$phone-max-width} - 1"))
    @content

=phone-small
  @media (max-width: #{$phone-small})
    @content


